target
.clangd
.clang-format
*.lock
.cargo*
*.dylib
*.so
*.a
*.o
*.d
cache
.nfs*
.DS_Store
*.npy
npy/*
npm*
*.tmp
__pycache__
.clangd.swp
.vscode
eigsys/eigen2
eigsys/eigen3
eigsys/bench3
examples/asset
examples/data
examples/**/.*
examples/export
examples/_*
frontend/**/.*
_skipped.node
docs/_*
docs/parameters.rst
docs/logs.rst
