target
.clangd
.clang-format
*.lock
.vscode/launch.json
.cargo*
output*
*.dylib
*.so
*.a
*.o
*.d
cache
.nfs*
.DS_Store
*.npy
npy/*
projects/opt/Codim-IPC
ngrok*
npm*
demo*
cuda_version
version.txt
*.tmp
pyvenv.cfg
filebrowser.db
test
__pycache__
preview.png
render-lock
share
SIGA2024
SIGA2024-post
resource
projects/opt
video/*
video_halved/*
submitted/*
.clangd.swp
venv
.venv
quit
latex
eigsys/eigen2
eigsys/eigen3
eigsys/bench3
examples/asset
examples/data
examples/**/.*
_skipped.node
